<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}


    <div class="navigation">
		
		<!-- if statement that is showen when user is logged in -->
		{{#if username}}
			<br>hello, {{username}}
			<br><a href="/">To do tasks</a> <a href="/completed">Completed Tasks</a>
			<br><a href='/auth/logout'>Logout</a>
		<!-- statment that is displayed if no user is logged in -->
		{{else}}
			Sign in to create and manage ToDo items
		{{/if}}
    </div>
	<!-- adding a home button to the bottom of all the pages -->
	<hr>
	<p><a href="/">Home</a></p>
  </body>
</html>